[pi5]
kernel=kernel_2712.img
dtparam=pciex1
dtparam=pciex1_gen=2

[all]
arm_64bit=1
arm_boost=1

disable_overscan=1
disable_fw_kms_setup=1

camera_auto_detect=0
display_auto_detect=0
dtparam=audio=on

auto_initramfs=1
