timeout 5
textonly true
scan_all_linux_kernels false
dont_scan_files vmlinuz,vmlinuz-linux,initrd.img,initramfs-linux.img
hideui hints

menuentry "Proxmox VE" {
    volume "boot"
    loader \EFI\proxmox\vmlinuz
    initrd \EFI\proxmox\initrd.img
    options "root=PARTLABEL={{ partition_root.name }} rw rootwait console=tty1{% if bootstrap_mac %} {{ bootstrap_mac_boot_args }}{% endif %}"
}

menuentry "Proxmox VE (terminal)" {
    volume "boot"
    loader \EFI\proxmox\vmlinuz
    initrd \EFI\proxmox\initrd.img
    options "root=PARTLABEL={{ partition_root.name }} rw rootwait console=tty1 systemd.unit=multi-user.target{% if bootstrap_mac %} {{ bootstrap_mac_boot_args }}{% endif %}"
}
