---
hostname: "rpi5.local"
partition_disk: "/dev/mmcblk0"
partition_wipe: true
partition_boot:
  num: 1
  name: "boot"
  flags: [boot, esp]
  part_start: "0%"
  part_end: "200MiB"
  fstype: "vfat"
  fstype_opts: "-F 32 -n boot"
  dev: "{{ partition_disk }}p1"
  mount_path: "/mnt/boot/firmware"
  fstab_opts: "defaults,noatime"
partition_root:
  num: 2
  name: "root"
  part_start: "200MiB"
  part_end: "100%"
  fstype: "ext4"
  dev: "{{ partition_disk }}p2"
  mount_path: "/mnt"
partition_extras: []
